/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: 'Fredoka', sans-serif;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Style */
.card img {
    width: 90px;
    float: left;
    margin-right: 1rem;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #3db7e2;
    cursor: pointer;
}

.info {
    padding: .7rem;
}

.info h4, .info div {
    margin-bottom: 5px;
}

/* MAIN */
/* Title */
h1 {
    text-align: center;
    color: #e53170;
    margin: 1em 0;
}

/* Paragraph */
p {
    text-align: center;
    margin-bottom: 2em;
}

/* Cards section */
.row{
    border: 1px solid blueviolet;
    margin-bottom: 2rem;
}

.col {
    width: calc(100% / 3 - 20px);
    float: left;
    margin-right: 20px;
}

.card {
    background-color: #0f0e17;
    color: white;
}

.container {
    border: 5px solid darkblue;
}